* {
    padding: 0;
    margin: 0;
  }
  body {
    background: #090909 url(assets/bg.jpg);
    background-size: 100% auto;
    background-position: top center;
    background-repeat: no-repeat;
    color: white;
    font-family: "Roboto", sans-serif;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  .header {
    height: 100px;
    padding: 16px 42px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Exo 2", sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 5px;
  }
  
  .header__logo {
  }
  
  .header__nav {
    background: rgba(0, 0, 0, 0);
  }
  
  .header__menu {
    display: flex;
    gap: 50.25px;
    background: rgba(0, 0, 0, 0);
  }
  
  .header__item {
    list-style-type: none;
  }
  
  .header__link {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    transition: opasity 0.3s linear;
    cursor: pointer;
  }
  
  .header__link:hover {
    opacity: 0.6;
    border-bottom: 2.25px solid rgba(235, 0, 0, 1);
    padding-bottom: 5px;
  }
  
  .header__link_active {
    border-bottom: 2.25px solid rgba(235, 0, 0, 1);
    padding-bottom: 5px;
  }
  
  .header__commands {
    display: flex;
    justify-content: space-between;
    gap: 46px;
  }
  
  .header__comands-item {
    width: 25px;
    height: 25px;
    background-color: rgba(0, 0, 0, 0);
    transition: opasity 0.3s linear;
  }
  
  .header__comands-item:hover {
    opacity: 0.6;
  }
  
  .slider {
    display: flex;
    height: 30vw;
    justify-content: end;
    padding: 16px 32px;
  }
  
  .slider__main {
    display: flex;
    padding-right: 64px;
  }
  
  .slider__commands {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .slider__nav {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  
  .slider__nav-item {
    width: 12px;
    height: 12px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 12px;
    cursor: pointer;
  }
  
  .slider__nav-item:nth-child(1) {
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  .slider__nav-item:nth-child(2) {
    background-color: rgba(255, 255, 255, 0.4);
  }
  
  .slider__nav-item:nth-child(3) {
    background-color: rgba(255, 255, 255, 0.6);
  }
  
  .slider__nav-item:nth-child(4) {
    background-color: rgba(255, 255, 255, 0.8);
  }
  
  .product-info {
    display: flex;
    align-items: flex-end;
    font-family: "Exo 2", sans-serif;
    font-weight: 800;
  }
  
  .product-info__price {
    color: rgba(231, 0, 0, 1);
    padding-bottom: 5px;
    margin-right: 8px;
    font-size: 32px;
  }
  
  .product-info__content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .product-info__badge {
    display: inline-block;
    padding: 8px 16px;
    background: rgba(235, 0, 0, 1);
    border-radius: 9.75px;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    margin-bottom: 4px;
  }
  
  .product-info__text {
    font-size: 18px;
  }
  
  .product-info__text span {
    font-weight: 400;
    letter-spacing: 3px;
  }
  
  .footer {
    outline: none;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 16px 32px;
  }
  
  .select-color {
    font-family: "Exo 2", sans-serif;
    font-weight: 800;
  }
  
  .select-colortitle {
  }
  
  .select-color__product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    margin-top: 32px;
  }
  
  .select-color__item {
    width: 100px;
    height: 70px;
    background-position: center;
    cursor: pointer;
  }
  
  .select-color__item:nth-child(1) {
    background-image: url(assets/pinc.png);
  }
  
  .select-color__item:nth-child(2) {
    background-image: url(assets/green.png);
  }
  
  .select-color__item:nth-child(3) {
    background-image: url(assets/red.png);
  }
  
  .buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
  }
  
  .button {
    padding: 17px 30px;
    font-family: "Exo 2", sans-serif;
    font-weight: 800;
    border: none;
    cursor: pointer;
  }
  
  .button_outline {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: 1px solid white;
  }
  
  .discription {
    display: flex;
    flex-direction: column;
    max-width: 333px;
  }
  
  .discription__title {
    letter-spacing: 0.2em;
    font-family: "Exo 2", sans-serif;
    font-weight: 800;
    margin-bottom: 8px;
  }
  
  .discription__text {
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    line-height: 1.5em;
    opacity: 0.7;
  }